.button {
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    /* background-color: #ada9a9; */
    color: black;
    flex: 1;
    border: 0.5px solid black;
  
  }