.input {
    height: 5em;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    padding: 10px;
  }
  
  .result {
    flex: 1;
    font-size: 15px;
  }
  
  .text {
    flex: 1;
    font-size: 15px;
  }