body {
  background-color:rgb(248, 186, 93);
  
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
}
h1{
  margin-left:80px;
}

.calc {
  margin-top: 50px;;
  background-color: white;
  width: 400px;
  border-radius: 16px;
}

.row {
  display: flex;
}